tabula-py==2.9.0
tabulate 
tblib 
tenacity 
terminado 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
tokenizers 
tomli 
tomlkit 
toolz 
tornado 
tqdm 
traitlets 
transformers 
Twisted 
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata 
uc-micro-py 
ujson 
uri-template 
urllib3 
w3lib 
watchdog 
wcwidth 
webcolors 
webencodings 
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
win-inet-pton 
wrapt 
xarray 
xlwings 
xxhash 
xyzservices 
yapf 
yarl 
zict 
zipp 
zope.interface 
